@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  outline: none;
}

.banner {
  /* background-image: url("../images/banner.jpg"); */
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
  margin-left: -1rem;
}

.col {
  padding-top: 1rem;
  padding-left: 1rem;
}
