@tailwind base;
@tailwind components;
@tailwind utilities;

a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  outline: none;
}

.banner {
  background-image: url("../images/arya-krisdyantara-GP8zwUt5pWE-unsplash.jpg");
}

.infos {
  background-image: url("../images/coffee-3.jpg");
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
  margin-left: -1rem;
}

.col {
  padding-top: 1rem;
  padding-left: 1rem;
}
.contact-form li {
  position: relative;
  margin-bottom: 16px;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #666;
  font-size: 1rem;
  padding: 1rem;
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
  background-size: auto;
  transition: border 0.2s;
  outline: none;
}
.contact-form input:hover,
.contact-form input:focus,
.contact-form select:hover,
.contact-form select:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
  border: 2px solid #bfa98b;
}
.contact-form input[type="checkbox"],
.contact-form input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
/* invalid input */
.contact-form input.invalid,
.contact-form textarea.invalid {
  border: 1px solid #eb5757;
}
.contact-form input.invalid:focus,
.contact-form input.invalid:hover,
.contact-form textarea.invalid:focus,
.contact-form textarea.invalid:hover {
  border: 2px solid #eb5757;
}
.contact-form input ~ p.invalid-message,
.contact-form textarea ~ p.invalid-message {
  display: block;
  font-size: 0.75rem;
  padding: 2px 12px 0px;
  color: #eb5757;
}
.contact-form input.invalid ~ p.invalid-message,
.contact-form textarea.invalid ~ p.invalid-message {
  display: block;
}

/* textarea */
.contact-form textarea {
  height: 126px;
  resize: none;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal .close:hover,
.modal .close:focus {
  opacity: 0.6;
  transition: 0.2s;
}
.modal .content {
  position: relative;
  width: 100%;
  max-width: 352px;
  max-height: 400px;
  padding: 20px;
  border-radius: 16px;
  background-color: #ffffff;
  text-align: center;
}
