---
layout: layouts/base.njk
title: Coffee | Home
---

{% include 'components/header.html' %} 
{% include 'components/banner.html' %} 
{% include 'components/about.html' %} 
{% include 'components/infos.html' %} 
{% include 'components/popular-dishes.html' %} 
{% include 'components/vegetarian-menu.html' %} 
{% include 'components/footer.html' %} 