---
layout: layouts/base.njk
title: Coffee | Home
---

{% include 'components/header.njk' %} 
{% include 'components/banner.njk' %} 
{% include 'components/about.njk' %} 
{% include 'components/infos.njk' %} 
{% include 'components/popular.html' %} 