---
layout: layouts/base.njk
title: Cafeteria Real
---

{% include 'components/header.html' %} 
{% include 'components/banner.html' %} 
{% include 'components/about.html' %} 
{% include 'components/infos.html' %} 
{% include 'components/types-coffee.html' %} 
{% include 'components/popular-dishes.html' %} 
{% include 'components/address.html' %} 
{% include 'components/contact.html' %} 
{% include 'components/footer.html' %} 
{% include 'components/modal-contact.html' %} 