<section class="py-8 sm:py-16" id="about">
  <div class="container">
    <h2 class="text-4xl sm:text-6xl text-neutral-800 font-bold text-center mb-8 sm:mb-16">
      Nosso Café
    </h2>
    <div class="flex justify-center flex-col sm:flex-row items-center gap-8 lg:gap-16">
      <div class="sm:w-1/2">
        <img class="mb-8" src="./images/coffee-2.png" alt="Coffee" />
        <div class="bg-beige-300 p-8 rounded-xl text-neutral-100 text-center shadow-lg">
          <p class="font-bold text-lg">
            Nosso café é rico em sabor e o expresso
            é um equilíbrio perfeito entre doçura e
            acidez que funciona bem em bebidas lácteas.
          </p>
        </div>
      </div>
      <div class="sm:w-1/2">
        <div class="bg-beige-300 p-8 mb-8 rounded-xl text-neutral-100 text-center shadow-lg">
          <p class="font-bold text-lg">
            Priorizamos o café fresco, que tem melhor
            sabor e aroma. Nosso café é torrado na hora
            e embalado em embalagem hermética.
          </p>
        </div>
        <img src="./images/coffee-1.png" alt="Coffee" />
      </div>
    </div>
  </div>
</section>