<section class="py-8 sm:py-16">
  <div class="container">
    <h2
      class="text-4xl sm:text-6xl text-neutral-800 font-bold text-center mb-16"
    >
      Coffee & Cakes
    </h2>
    <div class="flex justify-center flex-col sm:flex-row items-center gap-16">
      <div class="max-w-md">
        <img class="mb-8" src="./images/coffee-2.png" alt="Coffee" />
        <p class="mb-8">
          Quick can manor smart money hopes worth too. Comfort produce husband
          boy her had hearing. Law others theirs passed but wishes. You day real
          less till dear read. Considered use dispatched melancholy sympathize
          discretion led. Oh feel if up to till like.
        </p>
        <div
          class="bg-beige-300 p-8 rounded-xl text-neutral-100 text-center shadow-lg"
        >
          <p class="font-bold text-lg mb-5">
            Our coffee is rich in flavor and the espresso is a perfect balance
            of sweetness and acidity that functions well in milk drinks.
          </p>
          <p>
            Sample text. Click to select the text box. Click again or double
            click to start editing the text.
          </p>
        </div>
      </div>
      <div class="max-w-md">
        <div
          class="bg-beige-300 p-8 mb-8 rounded-xl text-neutral-100 text-center shadow-lg"
        >
          <p class="font-bold text-lg mb-5">
            Our coffee is rich in flavor and the espresso is a perfect balance
            of sweetness and acidity that functions well in milk drinks.
          </p>
          <p>
            Sample text. Click to select the text box. Click again or double
            click to start editing the text.
          </p>
        </div>
        <p class="mb-8">
          Quick can manor smart money hopes worth too. Comfort produce husband
          boy her had hearing. Law others theirs passed but wishes. You day real
          less till dear read. Considered use dispatched melancholy sympathize
          discretion led. Oh feel if up to till like.
        </p>
        <img src="./images/coffee-1.png" alt="Coffee" />
      </div>
    </div>
  </div>
</section>
