<section class="py-12 sm:py-32 bg-beige-900">
  <div class="container">
    <div class="px-8 sm:px-16">
      <div class="relative">
        <!-- <img src="./images/person-1.jpg" class="relative z-10 w-full rounded-2xl sm:rounded-3xl" /> -->
        <iframe class="relative z-10 w-full rounded-2xl sm:rounded-3xl"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.5808456602535!2d-43.224200789544994!3d-22.965658939890197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd5984be4b99f%3A0x4efc7a5cacadd695!2sJardim%20Bot%C3%A2nico%2C%20Rio%20de%20Janeiro%20-%20State%20of%20Rio%20de%20Janeiro%2C%2022460-030!5e0!3m2!1sen!2sbr!4v1709921870981!5m2!1sen!2sbr"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div
          class="absolute top-[-1.5rem] sm:top-[-3rem] right-[-1.5rem] sm:right-[-3rem] z-0 w-2/5 h-1/2 rounded-2xl sm:rounded-3xl bg-beige-300">
        </div>
        <div
          class="absolute bottom-[-1.5rem] sm:bottom-[-3rem] left-[-1.5rem] sm:left-[-3rem] w-2/5 h-1/2 z-0 rounded-2xl sm:rounded-3xl bg-beige-300">
        </div>
      </div>
    </div>
  </div>
</section>