<main class="banner bg-beige-300 bg-cover bg-no-repeat bg-center">
  <div class="container h-[688px] flex items-center">
    <div class="w-full max-w-md bg-beige-800 rounded-2xl p-8 text-neutral-100 shadow-lg">
      <h2 class="text-3xl sm:text-4xl font-bold mb-8 max-w-[14rem] sm:max-w-xs">
        Café artesanal exclusivo no RJ
      </h2>
      <p class="mb-6">
        Deseja desfrutar de um bom atendimento e serviço? Venha conhecer nossa cafeteria e provar nossas bebidas e
        pratos maravilhos. Estamos prontos para o atendimento presencial e online.
      </p>
      <a class="flex items-center justify-center w-40 h-12 border-2 border-solid border-gray-100 rounded-full font-semibold hover:bg-neutral-100 focus:bg-neutral-100 hover:text-neutral-900 focus:text-neutral-900 duration-300 ease-in-out"
        href="#about">VEJA MAIS</a>
    </div>
  </div>
</main>