{% macro input(name='', placeholder='', type='text', tag='input') %} {% if tag
=== 'input' %}
<input
  type="{{ type }}"
  name="{{ name }}"
  id="{{ name }}"
  placeholder="{{ placeholder }}"
  :class="isValid('{{ name }}')"
  v-model="contact.{{ name }}"
  @blur="onBlur"
  @input="onChange"
/>
{% else %}
<textarea
  name="{{ name }}"
  id="{{ name }}"
  placeholder="{{ placeholder }}"
  :class="isValid('{{ name }}')"
  v-model="contact.{{ name }}"
  @blur="onBlur"
  @input="onChange"
></textarea>
{% endif %}

<p
  class="invalid-message"
  v-if="touched.{{ name }} && !!errors.{{ name }}"
  v-text="errors.{{ name }}"
></p>
{% endmacro %}
