<section
  class="infos bg-beige-300 bg-cover bg-no-repeat bg-bottom bg-beige-300"
>
  <div
    class="container h-[320px] lg:h-[540px] xl:h-[678px] flex items-end"
  ></div>
</section>
<section>
  <div class="container pb-16 mt-[-72px] sm:mt-[-96px]">
    <div class="grid-container">
      <div class="col w-full sm:w-1/2 lg:w-1/4">
        <div
          class="py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg"
        >
          <p class="text-beige-300 text-5xl font-bold mb-4">01</p>
          <h3 class="text-xl font-bold mb-4">About Us</h3>
          <p class="italic">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col w-full sm:w-1/2 lg:w-1/4">
        <div
          class="py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg"
        >
          <p class="text-beige-300 text-5xl font-bold mb-4">02</p>
          <h3 class="text-xl font-bold mb-4">Our Food</h3>
          <p class="italic">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col w-full sm:w-1/2 lg:w-1/4">
        <div
          class="py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg"
        >
          <p class="text-beige-300 text-5xl font-bold mb-4">03</p>
          <h3 class="text-xl font-bold mb-4">Our Drinks</h3>
          <p class="italic">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col w-full sm:w-1/2 lg:w-1/4">
        <div
          class="py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg"
        >
          <p class="text-beige-300 text-5xl font-bold mb-4">04</p>
          <h3 class="text-xl font-bold mb-4">Excellent coffee</h3>
          <p class="italic">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
