<section class="infos bg-beige-300 bg-cover bg-no-repeat bg-bottom">
  <div class="container h-[320px] lg:h-[540px] xl:h-[678px] flex items-end"></div>
</section>
<section>
  <div class="container pb-16 mt-[-72px] sm:mt-[-96px]">
    <div class="grid-container">
      <div class="flex col w-full sm:w-1/2 lg:w-1/4">
        <div class="h-full py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg">
          <p class="text-beige-300 text-5xl font-bold mb-4">01</p>
          <h3 class="text-lg font-bold mb-4">Ótimo atendimento</h3>
          <p class="italic">
            Nossos funcionários possuem treinamento especializado para o atendimento ao cliente, tanto presencialmente
            quanto à distância.
          </p>
        </div>
      </div>
      <div class="flex col w-full sm:w-1/2 lg:w-1/4">
        <div class="h-full py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg">
          <p class="text-beige-300 text-5xl font-bold mb-4">02</p>
          <h3 class="text-lg font-bold mb-4">Pratos deliciosos</h3>
          <p class="italic">
            Nosso menu conta com pratos deliciosos com foco em massas e doces. Perfeito para acompanhar o nosso café.
          </p>
        </div>
      </div>
      <div class="flex col w-full sm:w-1/2 lg:w-1/4">
        <div class="h-full py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg">
          <p class="text-beige-300 text-5xl font-bold mb-4">03</p>
          <h3 class="text-lg font-bold mb-4">Excelente café</h3>
          <p class="italic">
            Contamos com muitas opções que agradam nossos clientes. Focamos na qualidade dos grãos e no
            processo de preparo.
          </p>
        </div>
      </div>
      <div class="flex col w-full sm:w-1/2 lg:w-1/4">
        <div class="h-full py-6 px-8 shadow-xl text-neutral-800 bg-neutral-100 rounded-lg">
          <p class="text-beige-300 text-5xl font-bold mb-4">04</p>
          <h3 class="text-lg font-bold mb-4">Boa localização</h3>
          <p class="italic">
            Nosso estabelecimento se encontra em uma região de fácil acesso e com um serviço de entrega bem rápido e
            eficiente.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>