<section class="bg-beige">
  <div class="container h-[678px] flex items-end">
    <div class="flex gap-6 relative top-[126px]">
      <div
        class="py-6 px-8 shadow-lg text-neutral-800 bg-neutral-100 rounded-lg"
      >
        <p class="text-beige text-5xl font-bold mb-4">01</p>
        <h3 class="text-xl font-bold mb-4">About Us</h3>
        <p class="italic">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div
        class="py-6 px-8 shadow-lg text-neutral-800 bg-neutral-100 rounded-lg"
      >
        <p class="text-beige text-5xl font-bold mb-4">02</p>
        <h3 class="text-xl font-bold mb-4">Our Food</h3>
        <p class="italic">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div
        class="py-6 px-8 shadow-lg text-neutral-800 bg-neutral-100 rounded-lg"
      >
        <p class="text-beige text-5xl font-bold mb-4">03</p>
        <h3 class="text-xl font-bold mb-4">Our Drinks</h3>
        <p class="italic">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div
        class="py-6 px-8 shadow-lg text-neutral-800 bg-neutral-100 rounded-lg"
      >
        <p class="text-beige text-5xl font-bold mb-4">04</p>
        <h3 class="text-xl font-bold mb-4">Excellent coffee</h3>
        <p class="italic">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container h-48"></div>
</section>
