<section class="py-8 sm:py-16">
  <div class="container">
    <h2 class="text-4xl sm:text-6xl text-neutral-800 font-bold text-center mb-8 sm:mb-16">
      Pratos Populares
    </h2>
    <div class="max-w-xs sm:max-w-2xl lg:max-w-5xl mx-auto">
      <div class="grid-container">
        {% for dishe in products.dishes %}
        <article class="col sm:w-1/2 lg:w-1/3">
          <div class="flex flex-col h-full bg-neutral-100 rounded-2xl overflow-hidden shadow-lg">
            <header>
              <figure class="pt-[66.66%] relative bg-beige-300">
                <img src="./images/{{dishe.image}}" alt="{{dishe.title}}"
                  class="absolute top-0 left-0 w-full h-full object-cover" />
              </figure>
            </header>
            <section class="px-6 pt-6 mb-auto">
              <h3 class="text-2xl text-beige-300 font-bold uppercase mb-4">
                {{dishe.title}}
              </h3>
              <p>{{dishe.description}}</p>
            </section>
            <footer class="flex items-center justify-between px-6 py-6">
              <p class="text-2xl text-beige-300 font-bold">R${{dishe.price}}</p>

              <a class="flex items-center justify-center w-40 h-12 rounded-full text-neutral-100 hover:text-beige-400 focus:text-beige-400 font-bold bg-beige-300 hover:bg-beige-50 focus:bg-beige-50 duration-300 ease-in-out"
                href="{{dishe.link()}}" target="_blank">Comprar</a>
            </footer>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>