<section class="py-12 sm:pt-32 sm:pb-16 bg-beige-900">
  <div class="container">
    <div class="px-8 sm:px-16">
      <div class="relative">
        <img src="./images/person-1.jpg" class="relative z-10 w-full rounded-2xl sm:rounded-3xl" />
        <div
          class="absolute top-[-1.5rem] sm:top-[-3rem] right-[-1.5rem] sm:right-[-3rem] z-0 w-2/5 h-full rounded-2xl sm:rounded-3xl bg-beige-300">
        </div>
        <div
          class="absolute bottom-[-1.5rem] sm:bottom-[-3rem] left-[-1.5rem] sm:left-[-3rem] w-2/5 h-1/2 z-0 rounded-2xl sm:rounded-3xl bg-beige-300">
        </div>
      </div>
    </div>
    <div class="flex justify-start sm:justify-end px-0 sm:px-32 pt-16 sm:pt-0 sm:mt-[-4rem] lg:mt-[-12rem]">
      <div class="relative z-10 w-full max-w-sm bg-neutral-100 rounded-2xl px-8 py-12 text-neutral-800">
        <h2 class="text-3xl md:text-4xl text-beige-300 font-bold mb-8">
          Menu Vegetariano
        </h2>
        <p class="mb-6 text-lg sm:text-xl">
          Encontre os melhores pratos sem carne e ricas em proteínas vegetais. Desde saladas com quinoa, lasanhas
          vegetarianas e mais pratos deliciosos.
        </p>
      </div>
    </div>
  </div>
</section>